@import url('./rank.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Fredoka", "sans-serif";
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  ul {
    /* list-style: disc; */
  }
}

@layer components {
  .btn {
    background: blue;
    padding: 16px;
    color: aliceblue;
  }
  /* .card {
    @apply text-primary-100;
    background: var(--bs-color-bg);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
  } */
  /* .star {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/44/Plain_Yellow_Star.png"); 使用你的星星圖標圖片
    background-size: cover;
  } */
  .star {
    display: inline-block;
    /* width: 20px;
    height: 20px; */
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/44/Plain_Yellow_Star.png"); 使用你的星星圖標圖片 */
    /* background-size: cover; */
  }
  .nav-link {
    position: relative;
    /* display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden; */
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    transition: transform .5s ease;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transform-origin: right;
  }
  .nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  .nav-link:active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: black;
  }
}

@layer utilities {
  .filter-blur {
    filter: blur(5px);
  }
  .text-primary-100 {
    color: var(--bs-primary);
  }
}